@media screen and (min-width: 320px) {
  .branch-one::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }

  .branch-two::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }

  .branch-form-one::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }

  .branch-form-two::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .branch-one::after {
    width: 296px;
    height: 42px;
    bottom: 0;
  }

  .branch-two::after {
    width: 296px;
    height: 42px;
    bottom: 0;
  }


  .branch-form-one::after {
    width: 296px;
    height: 42px;
  }

  .branch-form-two::after {
    width: 296px;
    height: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .branch-one::after {
    width: 296px;
    height: 42px;
    bottom: 25px;
  }

  .branch-two::after {
    width: 296px;
    height: 42px;
    bottom: 10px;
  }

  .branch-form-one::after {
    bottom: 2px;
  }

  .branch-form-two::after {
    bottom: 2px;
  }
}
