@media screen and (min-width: 320px) {
  .catalog {
    position: relative;
    padding-block: 64px 69px;
  }

  .catalog__title {
    margin-block-end: 64px;
  }

  .catalog--branch-one::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    padding-block: 101px 142px;
  }

  .catalog__title {
    margin-block-end: 71px;
  }

  .catalog--branch-one::after {
    width: 296px;
    height: 42px;
    bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .catalog__title {
    margin-block-end: 91px;
  }

  .catalog {
    padding-block-end: 168px;
  }

  .catalog--branch-one::after {
    width: 296px;
    height: 42px;
    bottom: 25px;
  }
}
