@media screen and (min-width: 320px) {
  .form {
    position: relative;
    padding-block: 47px 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form__field {
    margin-block-end: 20px;
  }

  .form__field--berry {
    margin-block-end: 32px;
  }

  .form__field--contacts {
    margin-block-end: 32px;
  }

  .form__submit {
    width: calc(100% - 25px);
    margin-left: 10px;
  }

  .form__submit--branch-form-two::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding-block: 76px 143px;
  }

  .form__field {
    margin-block-end: 40px;
    padding-inline-start: 45px;
  }

  .form__submit {
    width: 336px;
    margin-inline: auto;
  }

  .form__submit--branch-form-two::after {
    width: 296px;
    height: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    justify-content: center;
    padding-block: 60px 153px;
    padding-inline: 0;
    width: 835px;
    margin: 0 auto;
  }

  .form__field {
    grid-column: 3 / -2;
  }

  .form__field--berry {
    margin-block-end: 56px;
  }

  .form__field--receipt {
    margin-block-end: 46px;
  }

  .form__field--contacts {
    margin-block-end: 46px;
  }

  .form__submit {
    grid-column: 2 / -2;
  }

  .form__submit--branch-form-two::after {
    top: 1395px;
  }
}
