@media screen and (min-width: 320px) {
  .menu {
    position: relative;
    padding-block: 16px;
    min-height: 360px;
    background-color: $blue-grey;
    list-style: none;
    padding-left: 0;
  }

  .menu--scriptable {
    z-index: 1;
    position: absolute;
    width: 100%;
    transform: translateY(-5000px);
    list-style: none;
    padding: 0;
  }

  .menu--show {
    transform: translateY(0);
    padding-top: 16px;
  }

  .menu__item {
    padding-inline: 40px;
    padding-block: 17px 10px;
  }

  .menu__item-link {
    font-size: 20px;
    line-height: calc(23 / 20);
    color: inherit;
    text-decoration: none;
  }

  .menu__item-link:hover {
    color: $green-hover;
  }

  .menu__item-link:active {
    color: $green;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    max-width: 496px;
    padding-block: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(112px, max-content));
    gap: 16px;
    align-items: flex-start;
    min-height: initial;
    margin-top: 15px;
  }

  .menu--scriptable {
    position: initial;
    transform: none;
    transition: none;
  }

  .menu--show {
    transform: translateY(0);
  }

  .menu__item {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    gap: 28px;
    grid-template-columns: repeat(4, minmax(132px, max-content));
    max-width: 648px;
    padding-inline-end: 36px;
  }
}
